<!--Calendar--> 
<style>

  .calendarTitle {
    font-size: 20px;
  }
  
  .calendar-title {
    margin-top: 0;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
  }
  .simple-calendar {
    
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month { }
  .next-month { }
  .current-month {}

  .has-events {}
}
</style>
<%= month_calendar events: @exhibi do |date, exhibis| %>
  <br>
  <%= date.day %>
  <% exhibis.each do |exhibi| %>
    <div>
        <a class="calendarTitle" href='/exhibition/show_detail/<%=exhibi.id%>'>
        <%= "#{truncate(exhibi.title, :length => 10)}" %>
        </a>
    </div>
  <% end %>
  <br>
  <br>
<% end %>