

<div id='cal'></div>

<script>
  $('#cal').fullCalendar(
    {
       eventSources: [

        // your event source
        {
            url: '/calendar.json', // use the `url` property
            color: '#f7e900',    // an option!
            textColor: 'black'  // an option!
        }
        
        
        // any other sources...

    ]
          });  
</script>
