<!-- 좋아요한 전시 리스트 -->

<div class="container">
    <% current_user.liked_exhibitons.each do |p| %>
          <a href='/exhibition/show_detail/<%=p.id%>'>
            <img src='<%=p.imageAddress%>' width='150px' height="210px">
            <h4 class="itemTitle"><%= "#{truncate(p.title, :length => 19)}" %></h4>
          </a>  
          <p class="itemSpot"><%= "#{truncate(p.spot, :length => 15)}" %></p>
    <% end %>    
</div>