
<div class="locationResult blackBoderBox">
<div class="container">
  <div class="row">
    <div class="topBox">
      <img class="topBoxImg" src="/img/locationTitle.png">
      <div class="chooseLocation"> 
        <div class="col-md-1">
            <div class="circle">
              <a href="/exhibition/locationResult?location=서울">서울</a>
            </div>
        </div>
        <div class="col-md-1">
            <div class="circle">
              <a href="/exhibition/locationResult?location=경기">경기</a>
            </div>
        </div>
        <div class="col-md-1">
            <div class="circle">
              <a href="/exhibition/locationResult?location=인천">인천</a>
            </div>
        </div>
        <div class="col-md-1">
            <div class="circle">
              <a href="/exhibition/locationResult?location=대구">대구</a>
            </div>
        </div>
        <div class="col-md-1">
            <div class="circle">
              <a href="/exhibition/locationResult?location=대전">대전</a>
            </div>
        </div>
        <div class="col-md-1">
            <div class="circle">
              <a href="/exhibition/locationResult?location=울산">울산</a>
            </div>
        </div>
        <div class="col-md-1">
            <div class="circle">
              <a href="/exhibition/locationResult?location=부산">부산</a>
            </div>
        </div>
        <div class="col-md-1">
            <div class="circle">
              <a href="/exhibition/locationResult?location=강원">강원</a>
            </div>
        </div>
        <div class="col-md-1">
            <div class="circle">
              <a href="/exhibition/locationResult?location=광주">광주</a>
            </div>
        </div>
        <div class="col-md-1">
            <div class="circle">
              <a href="/exhibition/locationResult?location=경상">경상</a>
            </div>
        </div>
        <div class="col-md-1">
            <div class="circle">
              <a href="/exhibition/locationResult?location=전라">전라</a>
            </div>
        </div>
        <div class="col-md-1">
            <div class="circle">
              <a href="/exhibition/locationResult?location=대구">제주</a>
            </div>
        </div>
      </div>  
    </div>
  </div>
  <div class="showExhibition">
    <% @location_result.each do |p| %>
    <div class="showExhibitionBox">
        <div class="showExhibitionItem">
          <a href='/exhibition/show_detail/<%=p.id%>'>
            <img src='<%=p.imageAddress%>' width='150px' height="210px">
            <h4 class="itemTitle"><%= "#{truncate(p.title, :length => 15)}" %></h4>
          </a>
          <p class="itemSpot"><%= "#{truncate(p.spot, :length => 15)}" %></p>
        </div>
    </div>
    <% end %>    
</div>
</div>  
</div>

