<style>
.button{
 margin-left:auto; 
 margin-right:0;
}
</style>

<br>
<div class="container">
<a href='/exhibition/magazineRegister'><button type="button" class="btn btn-outline-warning" style="float: right;"><i class="fa fa-pencil-square-o" aria-hidden="true"> 포스팅</i></button></a><br><br>

<% @post.each do |post| %>
 <a href='/exhibition/magazine_show/<%=post.id%>'>
   <div class=" blackBoderBox">
     <div class="container">
     <h3> <%= post.title %> </h3>
 </a>
     <p>Editor: <%= post.user.name %></p>
     
     </div>
     </div>
  <% end %>
  
</div>

