<style>
.button{
 margin-left:auto; 
 margin-right:0;
}
.top{
 /*background-image: url(/img/magazine_top.png);*/
 /*width="320px"; height="40px"; background-repeat:no-repeat;*/
}
</style>

<br>
<div class="container">
 <!-- 에디터만 -->
 <div class="top">
 <center>
  <p>
   <% @post.each do |post| %>
   <%= post.spot_name %>
   <% end %>
  </p>
 </center>
 </div>
<a href='/exhibition/magazineRegister'><button type="button" class="btn btn-outline-warning" style="float: right;"><i class="fa fa-pencil-square-o" aria-hidden="true"> 포스팅</i></button></a><br><br>
 <!-- 에디터만 -->
<% @post.each do |post| %>
 <a href='/exhibition/magazine_show/<%=post.id%>'>
   <div class=" blackBoderBox">
     <div class="container">
     <h3> <%= post.title %> </h3>
 </a>
     <p>Editor <%= post.user.name %></p>
     
     </div>
     </div>
  <% end %>
  
</div>

