<!--전시회 Magazine -->
<style>
.h2{
  font-weight:600;
}
.col-md-4{
  margin-right: 1.2rem;
}
.muse{
  width: 270px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 280px 500px;
  font-weight:500;
  color:white;
  
}
.han{
  background-image: url(/img/pic1.png);
}
.dae{
  background-image: url(/img/pic2.png) ;
}
.seoul{
  background-image: url(/img/pic3.png);
}
.guk{
  background-image: url(/img/pic4.png);
}

#note{
  /*background-image: url(/img/ring.png);*/
  /*margin-left: -10px;*/
}

</style>
<br><br><br><br><br>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="blackBoderBox col-md-4 muse han" id="note">
      <br>
      <center><h2>한가람 미술관</h2>
      <br><br>
      <!--<p>예술의전당 전면 왼쪽 날개</p>-->
      <p>@왼쪽 날개 editor</p></center>
      <br><br><br><br><br><br><br><br>
      <p><form action="/exhibition/magazine_index" method="GET"><a href="/exhibition/magazine_index?spot_name=한가람미술관"><button type="button" class="btn btn-outline-secondary" style="float: right;">View details &raquo;</button></a></form></p>
    </div>
    <div class="blackBoderBox col-md-4 muse dae" id="note">
      <br>
      <center><h2>대림 미술관</h2>
      <br><br>
      <!--<p>일상이 예술이 되는 대림 미술관 </p>-->
      <p>@대리미 editor</p></center>
      <br><br><br><br><br><br><br><br>
      <p align="center"><form action="/exhibition/magazine_index" method="GET"><a href="/exhibition/magazine_index?spot_name=대림미술관"><button class="btn btn-secondary" style="float: right;">View details &raquo;</button></a></form></p>
    </div>
    <div class="blackBoderBox col-md-4 muse seoul" id="note">
      <br>
      <center><h2>서울 시립미술관</h2>
      <br><br>
      <!--<p>누구나 예술을 느껴라</p>-->
      <p>@아리수 editor</p></center>
      <br><br><br><br><br><br><br><br>
      <p align="center"><form action="/exhibition/magazine_index" method="GET"><a href="/exhibition/magazine_index?spot_name=서울시립미술관"><button class="btn btn-secondary" style="float: right;">View details &raquo;</button></a></form></p>
    </div>
      <div class="blackBoderBox col-md-4 muse guk" id="note">
      <br>
      <center><h2>국립 중앙박물관</h2>
      <br><br>
      <!--<p>세계적 규모의 박물관으로 총 33만여 국보급 유물 소장</p>-->
      <p>@구그립 editor</p></center>
      <br><br><br><br><br><br><br><br>
      <p align="center"><form action="/exhibition/magazine_index" method="GET"><a href="/exhibition/magazine_index?spot_name=국립중앙박물관"><button class="btn btn-secondary" style="float: right;">View details &raquo;</button></a></form></p>
    </div>
</div>
<br>

  