<!--전시회 Magazine -->
<style>
.row{
  margin-right: 1rem;
}
.col-md-4{
  margin-right: 1rem;
}
.muse{
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 300px 500px;
  color:white;
  
}
.han{
  background-image: url(http://imgnews.naver.com/image/5335/2017/07/20/0000098185_001_20170720212856747.jpg) ;
}
.dae{
  background-image: url(https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e15/10755899_571673396302621_1181836750_n.jpg) ;
}
.seoul{
  background-image: url(https://pbs.twimg.com/media/Cw0-H7UUcAAt6A_.jpg);
}
</style>
<br>
<div class="container">
      <div class="jumbotron">
        <h3>예술의전당 한가람미술관</h3>
        <p class="lead">@가람 editor</p>
        <a class="btn btn-lg btn-primary" href="/exhibition/hangaram" role="button">Go &raquo;</a>
      </div>
      <br>
      <div class="jumbotron">
        <h3>대림미술관</h3>
        <p class="lead">@대림 editor</p>
        <a class="btn btn-lg btn-primary" href="/exhibition/daerim" role="button">Go &raquo;</a>
      </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4 muse han" >
      <h2>한가람 미술관</h2>
      <br><br>
      <p>예술의전당 전면 왼쪽 날개</p>
      <p>@왼쪽 날개editor</p>
      <br><br><br><br><br><br>
      <p align="center"><button type="button" class="btn btn-outline-secondary">View details &raquo;</button></p>
    </div>
    <div class="col-md-4 muse dae">
      <h2>대림 미술관</h2>
      <br><br>
      <p>일상이 예술이 되는 대림 미술관 </p>
      <p>@대리미 editor</p>
      <br><br><br><br>
      <p align="center"><button class="btn btn-secondary">View details &raquo;</button></p>
    </div>
    <div class="col-md-4 muse seoul">
      <h2>서울 시립 미술관</h2>
      <br><br>
      <p>누구나 예술을 느껴라</p>
      <p>@아리수 editor</p>
      <br><br><br><br><br><br>
      <p align="center"><button class="btn btn-secondary">View details &raquo;</button></p>
    </div>
      <div class="col-md-4 muse guk">
      <h2>국립 중앙 박물관</h2>
      <br><br>
      <p>세계적 규모의 박물관으로 총 33만여 국보급 유물 소장</p>
      <p>@구그립 editor</p>
      <br><br><br><br><br>
      <p align="center"><button class="btn btn-secondary">View details &raquo;</button></p>
    </div>
</div>
<br>

  