<form action='/exhibition/reply_update/<%=@reply.id%>' method='post'>
  <div class='form-group'>
    <textarea name='content' rows='3' cols='120'><%=@reply.content%></textarea>
  </div>
  <button type='submit' class='btn btn-default'>후기 수정하기</button>
</form> 