/**= require simple_calendar*/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
 
/*html {*/
/*    font-family: 'Nanum Gothic', sans-serif!important;*/
/* }*/
@import "social-share-button";
html, body {
    margin: 0;
    padding: 0;
}

.navbar-main {
  background: #f7e900!important;
  border-radius: 0!important;
  margin-bottom: 0!important;
   
}

.navbar li { color: white }

.nav-center {
    margin-left: 150px;
    margin-right: 150px;

}


.navbar-brand {  
  padding: 0!important;
  margin: 0!important;
  text-align: middle;
  img {
    margin: 0;
    display: block;
    width: auto;
    height: 2.5em;
  }
     
}


.blackBoderBox {
  margin: 4px;
  border: 3px solid black!important;  
}



.pressedBtn { 
  margin-top: 10px;
	padding: 20px 40px 20px 40px;
	color: black;
  transform: translate(-15px, -15px);
	text-decoration: none;
	transition: all 0.1s;
	background-color: white;
	border: 3px solid black;

	&::before {
  position: absolute;
  content: '';
  transition: all 0.1s;
  bottom: -18px;
  height: 15px;
  width: 105%;
  left: 5px;
  transform: skewX(45deg);
  background: repeating-linear-gradient(
    60deg,
    #fff, 
    #fff 10px, 
    #000 10px, 
    #000 20px
  );
  border: 3px solid black;
	}

	&::after {
  position: absolute;
  content: '';
  transition: all 0.1s;
  right: -18px;
  height: 110%;
  width: 15px;
  bottom: -10px;
  transform: skewY(45deg);
  background-color: black;
  background: repeating-linear-gradient(
    15deg,
    #fff, 
    #fff 10px, 
    #000 10px, 
    #000 20px
  );
  border: 3px solid black;
	}

	&:active {
		margin-left: 10px;
		margin-top: 10px;
		&::before {
      bottom: -3px;
      height: 0px;
      left: -3px;
		}
		
    &::after {
      right: -3px;
      width: 0px;
      bottom: -3px;
		}	
	}
}

.blackLine {
  border: 2px solid #000;
}