

.topBox {
  margin-bottom: 0px;
  height: 150px;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  text-align: center;
  background: repeating-linear-gradient(
    120deg,
    #f7e900, 
    #f7e900 5px, 
    #fff 5px, 
    #fff 10px );
}

.chooseLocation {
  margin-top: 75px;
}
.circle {
    text-align: center;
    background: white;
    border-radius: 200px;
    color: black;
    height: 70px;
    font-weight: bold;
    width: 70px;
    display: table;
    margin: 10px auto;
    border: 3px solid black;
}
.circle > a {
    vertical-align: middle;
    color: black;
    display: table-cell;
}

