




/* 상단 */

.topOfMain {
  padding: 60px;
  background: url('/img/cover.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
}

.mainLogoImg {

  min-width: 300px;
  width: 700px;
  margin: auto;
}


/* 검색 */
.searchBox {
  border: 3px solid black;
  margin-top: 30px;
  left: 20%;
  width: 700px;
}
.searchInput {
  width: 100%;
  padding: 0 0 0 20px;
  line-height: 50px;
  color: #333;
  background: white;
  border: 0;
  display: inline-block; 
}

.searchIcon {
  padding: 0;
  margin: 0;
  font-size: 20px;
  top: 0px;
    right: 0;
}

.sortBox {
  border: 3px solid #000;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
      display: inline-block;
}
.sortBox, .sortBox select { 
  width: 240px;}
.sortBox select {
  height: 34px;
  padding: 5px;
  background: #fff;
  border: none;
  /*hide default down arrow in webkit */
  -webkit-appearance: none; 
  display: inline-block;
}

.fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
}

 select::-ms-expand { display: none; } /* hide default down arrow in IE10*/

.sortBy {
  display: inline-block;
  height: 34px;
  border: 3px solid #000;
  display: inline-block;
  width: auto;
  background-color: #f7e900;
  color: white;
  overflow: hidden;
}


.description {
  text-align: center;
}


/* 중간 */
.middleOfMain {
  padding: 0px 60px 60px 60px;
  background: #00a3df;
  text-align: center;
  .middleTitle {
    min-width: 300px;
    width: 700px;
    margin: auto auto 30px auto;    
  }
}

#myCarousel {
    height: 100%;
}




/* 페이지네이션 */
.paginationBox {
  text-align: center;
}


.pagination {
  margin-top: 30px;
  color: #424242;
  a, em, span {
    padding: 10px 15px;
    margin: 1px;
  }
  span {
    color: #5f6164;
    border: 3px solid black;
  }
  a{
    color: #5f6164;
    border: 3px solid black;
  }
  em {
    font-weight: bold;
    font-style: normal;
    padding: 10px 15px;
    border: 3px solid black;
    background-color: #f7e900;
    color: black;
  }
}

.pagination a:hover {
  background-color: black;
  color: white;
}



/* 몸통 */

.bodyOfMain {
  padding: 60px;
}

#showExhibition {
  margin-top: 50px;

}

.showExhibitionBox {
    width: 250px;
    height: 340px;
    border: 3px solid black!important;
    display: inline-block; 
    margin: 40px 5px;
    padding: 10px;
    text-align: center;
}

.showExhibitionTitle {
  position: relative;
  top: -30px;
  left: -3px;
  border: 3px solid black!important;
  background-color: #00a3df;
  padding: 5px 5px;
  width: 230px;
  height: 40px;
  .itemTitle {
    color: white;
    font-weight: bold;
    font-size: 13px;
  }
}

.showExhibitionImg {
  margin-top: -17px;
}

.showExhibitionItem {
  margin: auto;
  width: 150px;
  height: 210px;
} 


.itemList {
    width: 33%;
}

.itemSpot {
  font-size: 8px;
}

