<br>
<div class="container">
   <!-- editor만 보이는 글쓰기 창-->
  <form action="/magazine/magazine_create" method="POST">
  <div class="form-group">
      <select name="spot_name" value="2">
        <option value="한가람미술관" selected>한가람미술관</option>
        <option value="대림미술관">대림 미술관</option>  
        <option value="서울시립미술관">서울 시립 미술관</option>
        <option value="국립중앙박물관">국립 중앙 박물관</option>  
      </select>
    <input type="text" name="title" class="form-control" placeholder="제목을 입력하세요">
  </div>
  <div class="form-group">
    <textarea class="form-control" name="content" placeholder="내용을 입력하세요" ></textarea>
  </div>
  
  <input type="hidden" name="user" value="<%=current_user.id%>">
  
  <button type="submit" class="btn btn-default">글 작성하기</button>
  </form>
  <hr>
</div>